
/* Medium Layout: 1280px.
@media only screen and (min-width: 992px) and (max-width: 1200px) { 
  
    
}
Tablet Layout: 768px.
@media only screen and (min-width: 768px) and (max-width: 991px) {  
	
}
Mobile Layout: 320px.
@media only screen and (max-width: 767px) { 
 
    
}
Wide Mobile Layout: 480px.
@media only screen and (min-width: 480px) and (max-width: 767px) { 

} */


/* // Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575px) {
	.navbar-toggler-icon {
	    background: #fff;
	    border-radius: 50%;
	    outline-offset: 3px;
	    outline: 3px solid #fff;
	}
	.nav_fixed .navbar-toggler-icon {
	    background: #ff2d55;
	    outline: 3px solid #ff2d55;
	}
	.nav_area,.nav_area.fixed-top.nav_fixed {padding: 15px 30px;}
	.hero_txt h1{font-size: 27px;}
	.hero_txt h1 span{font-size: 35px;}
	.hero_btn {margin-bottom: 10px;}
	.main_hero_btn {padding: 16px 61px;}
	.section_heading h2 {font-size: 30px;}
	.section_heading h2:after {width: 100px;left: 34%;}
	.clock .time {font-size: 65px;line-height: 65px;}
	.left_content {margin-bottom: 20px;}
   
 }

/* // Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767px) { 
	.navbar-toggler-icon {
	    background: #fff;
	    border-radius: 50%;
	    outline-offset: 3px;
	    outline: 3px solid #fff;
	}

	.nav_fixed .navbar-toggler-icon {
	    background: #ff2d55;
	    outline: 3px solid #ff2d55;
	}
	.hero_txt h1{font-size:30px; }
	.hero_txt h1 span{font-size:45px; }
	.section_heading h2:after{left: 30%;}
	.clock .time {font-size: 50px;line-height: 50px;}
	.left_content {margin-bottom: 20px;}
 }

/* // Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991px) { 
	.navbar-toggler-icon {
	    background: #fff;
	    border-radius: 50%;
	    outline-offset: 3px;
	    outline: 3px solid #fff;
	}

	.nav_fixed .navbar-toggler-icon {
	    background: #ff2d55;
	    outline: 3px solid #ff2d55;
	}
	.section_heading h2:after{left:35%; }
	.left_content {margin-bottom: 20px;}
 }

/* // Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199px) { 
	
 }

/* // Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { 


}